.admin_content {
    position: relative;
    background-color: white;
    border: 1px solid #bbb;
}


/*알림 페이지*/

.admin_content > h2 {
    margin: 0;
    font-size: 30px;
    padding: 20px;
}

.admin_content > h2 > span {
    font-size: 20px;
    color: #0064FF;
}

.admin_content .header-row {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #111;
}

.admin_content .header-row > input {
    margin: 20px;
}

.admin_content .notification {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #dddddd;
}

.admin_content .notification > input {
    margin-right: 30px;
}

.admin_content .notification-text {
    display: flex;
    align-items: center;
}

.admin_content .notification-text .icon {
    background-color: #f4f4f4;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 20px;
    color: #ff0000;
}

.admin_content .delete-button {
    width: 60px;
    color: #ff0000;
    border: none;
    border-radius: 12px;
    padding: 8px;
    margin-left: auto;
    cursor: pointer;
}







/*옵션 및 색상 추가 및 수정 페이지*/
.admin_content_colorAddSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.admin_content_colorAddSection > div {
    margin: auto;
    background-color: white;
    border: 1px solid #bbb;
}

.admin_content_colorAddSection > div:nth-of-type(1) {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(70% - 15px);
    height: 700px;
    overflow: hidden;
}

.admin_content_colorAddSection > div:nth-of-type(1) > h1 {
    font-size: 28px;
    font-weight: 600;
    color: #111;
    margin-left: 20px;
}

.admin_content_colorAddSection > div:nth-of-type(1) > input{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 220px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #bbb;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

.admin_content_colorAddSection > div:nth-of-type(1) > span:nth-of-type(1) {
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #111;
}

.admin_content_colorCardList {
    overflow-y: auto;
}

/* 스크롤바 전체 */
.admin_content_colorCardList::-webkit-scrollbar {
    width: 7px; /* 너비 */
}

/* 스크롤바 트랙 */
.admin_content_colorCardList::-webkit-scrollbar-track {
    background: #00ff0000; /* 배경색 */
}

/* 스크롤바 핸들 */
.admin_content_colorCardList::-webkit-scrollbar-thumb {
    background-color: #c4c4c4; /* 색상 */
    border: 2px solid #f0f0f0; /* 핸들 주위의 여백 */
}

/* 스크롤바 핸들 호버 시 */
.admin_content_colorCardList::-webkit-scrollbar-thumb:hover {
    background-color: #b4b4b4; /* 호버 시 색상 */
}


.admin_content_colorCard {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dddddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.admin_content_colorCard.title {
    height: 50px;
    border: none;
}



.admin_content_colorCard > span {
    margin-left: 20px;
    width: 33px;
    height: 33px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

.admin_content_colorCard > p:nth-of-type(2) {
    margin: 0;
    margin-right: 20px;
    width: 90px;
}

.admin_content_colorCard.title > p:nth-of-type(1) {
    margin: 0;
    margin-left: 25px;
    width: 35px;
}

.admin_content_colorCard.title > p:nth-of-type(2) {
    display: flex;
    width: auto;
    margin: 0;
}

.admin_content_colorCard.title > p:nth-of-type(3) {
    margin: 0;
    margin-right: 20px;
    width: 90px;
}







.admin_content_colorAddSection > div:nth-of-type(2) {
    width: calc(30% - 15px);
    height: 700px;
    display: flex;
    flex-direction: column;
}

.admin_content_colorAddSection > div:nth-of-type(2) > h3 {
    width: 90%;
    margin: auto;
    font-size: 24px;
    font-weight: 600;
    color: #111;
    margin-top: 30px;
    margin-bottom: 10px;
}

.admin_content_colorAddSection > div:nth-of-type(2) > input {
    width: calc(90% - 20px);
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 12px;
    outline: none;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px 10px;
}

.admin_content_colorAddSection > div:nth-of-type(2) > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 60px;
    border-radius: 4px;
    border: none;
    background-color: #0064FF;
    font-size: 18px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.admin_content_HotdealList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.admin_content_HotdealItem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.admin_content_hotdeal-checkbox {
    margin-left: 30px;
    border-radius: 3px;
    width: 15px;
    height: 15px;
}

.admin_content_hotdeal-image {
    height: 120px;
    object-fit: cover;
    margin-right: 20px;
    background-color: #ededed;
    border-radius: 0px;
}

.admin_content_hotdeal-info {
    flex-grow: 1;
    display: flex;
    margin: 0;
    padding: 10px 0px;
    flex-direction: column;
}

.admin_content_hotdeal-info h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}

.admin_content_hotdeal-info p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #767676;
}

.admin_content_hotdeal-buttons {
    display: flex;
    gap: 10px;
}

.admin_content_edit-button,
.admin_content_delete-button {
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
}

.admin_content_edit-button {
    background-color: #0064FF;
    color: white;
}

.admin_content_delete-button {
    margin-right: 20px;
    background-color: #FF0000;
    color: white;
}

.admin_content_add-button {
    width: 100px;
    padding: 10px;
    margin: 20px auto;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin_content_add-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.admin_content_add-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.admin_content_add-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admin_content_add-form label {
    font-size: 16px;
}

.admin_content_add-buttons {
    display: flex;
    justify-content: space-between;
}

.admin_content_hodeal_infosub {
    margin-top: 8px;
    height: 14px;
    flex-direction: row;
    display: flex;
}

.admin_content_hotdeal-infosub > p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #767676;
}

.admin_content_hodeal_line {
    margin-top: 1px;
    width: 5px;
    margin-right: 5px;
    height: 100%;
    border-right: 1px solid #BBB;
}

.admin_content_edit-form {
    display: flex;
    flex-direction: column;
}

.admin_content_edit_text_form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin_content_edit_text_form > p {
    width: 70px;
}

.admin_content_save_button {
    width: 50px;
    height: 23px;
    align-items: center;
    margin-left: 188px;
    background-color: #000000;
    color: #ffffff;
}







.admin_content_searchListInput {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 220px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #bbb;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}