.edcontainer{
    min-width: 1280px;
    max-width: 1280px;
    margin:auto;
}

.DetailTitleSection {
    width: 1280px;
    margin: auto;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 40px;
}

.DetailTitleSection > h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    color: #111;
    margin-bottom: 12px;
}

.DetailTitleSection > p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #767676;
    margin-bottom: 12px;
}

.OptionSection {
    width: 1280px;
    height: 86px;
    margin: auto;
    align-items: flex-end;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 70px;
}

.ScriptSection {
    width: 1280px;
    margin: auto;
    font-size: 18px;
    font-weight: 400;
}

.ScriptSection > img {
    width: 100%;
}

.ScriptSection > p {
    margin: 0;
    padding: 20px;
}

.ButtonSection {
    width: 100%;
    margin: 40px auto;
    text-align: center;
}

.backButton {
    padding: 10.2px 42px;
    font-size: 18px;
    color: #767676;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid #bbb;
    border-radius: 12px;
    outline: none;
}
