.eventTitleSection {
    width: 95%;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 40px;
    display: block;
}

.eventTitleSection>h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    color: #111;
    margin-bottom: 12px;
}

.eventTitleSection>p {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #767676;
    margin-bottom: 12px;
}

.eventButton {
    padding: 10.2px 42px;
    font-size: 18px;
    color: #767676;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid #dcdcdc;
    border-radius: 12px;
}

.eventButtonSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
    background-color: #ffffff;
}

.eventButton.selected {
    background-color: #0064FF;
    color: #ffffff;
    border: 2px solid #0064FF;
}

.eventpageSection {
    position: relative;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 120px;
}

.eventList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.eventCardlist {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #ffffff;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.eventCardImg {
    width: 100%; 
    height: auto; 
    border-radius: 12px;
    max-height: 200px; 
    object-fit: cover; 
}

.eventCardlist:hover {
    transform: scale(1.02);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.eventCardTitle>h2 {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}

.eventCardTitle>p {
    font-size: 16px;
    font-weight: 400;
    color: #767676;
}
