@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard-Medium";
    font-weight: 500;
    src: url("../fonts/Pretendard-Medium.otf") format("otf");
}

@font-face {
    font-family: "Pretendard-SemiBold";
    font-weight: 600;
    src: url("../fonts/Pretendard-SemiBold.otf") format("otf");
}
