@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/AnyConv.com__Pretendard-Regular.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/AnyConv.com__Pretendard-Medium.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/AnyConv.com__Pretendard-SemiBold.woff") format("woff");
}