body {
    
}

.GNB {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000; /* 다른 요소 위에 배치 */
    transition: background-color 0.8s ease, color 0.8s ease; /* 배경색, 테두리, 텍스트 색상 변경 애니메이션 */
}

.GNB.scrolled {
    background-color: white; /* 스크롤된 상태에서의 배경색 */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* 스크롤된 상태에서의 아래쪽 테두리 */
}

.GNB.scrolled .GNBListDiv > .listA > p {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.GNB.scrolled .GNBListDiv > .rightDiv >  p {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.GNB.scrolled .GNBListDiv > .searchDiv {
    background-color: #F0F2F4;
}

.GNBListDiv {
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
}

.GNBListDiv > a > img {
    width: 147px;
    margin-right: 57px;
}

.GNBListDiv > .listA {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.GNBListDiv > .listA > p {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    margin-right: 60px;
    transition: all 0.3s ease;
}

.GNBListDiv > .listA:hover > p {
    font-weight: 600;
    color: #0064FF;
}

.GNB.scrolled .GNBListDiv > .listA:hover > p {
    color: #0064FF;
}

.GNBListDiv > .listA > p.selected {
    color: #0064FF;
}

.GNB.scrolled .GNBListDiv > .listA > p.selected {
    color: #0064FF;
}

.rightDiv {
    height: 80px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightDiv > p {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-right: 76px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.rightDiv > p:hover {
    color: #0064FF;
    font-weight: 600;
}

.GNB.scrolled .GNBListDiv > .rightDiv > p.selected {
    color: #0064FF;
}

.GNB.scrolled .GNBListDiv > .rightDiv >  p:hover {
    color: #0064FF;
    font-weight: 600;
}

.rightDiv > span {
    width: 124px;
    height: 45px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: #0064FF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.selectedDiv {
    width: 100%;
    height: 100px;
    background-color: #F0F2F4;
    transition: all 0.8s ease;
}

.selectedDiv > div {
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.selectedDiv > div > .searchDiv {
    width: 570px;
    height: 55px;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.selectedDiv > div > .searchDiv > input {
    margin-left: 15px;
    border: none;
    width: 87%;
    height: 95%;
    outline: none;
}

.selectedDiv > div > .searchDiv > input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #767676;
}

.selectedDiv > div > .searchDiv > .SearchIcon {
    margin-left: auto;
    margin-right: 15px;
    margin-top: 5px;
}

.selectedDiv > div > .CloseIcon {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.selectedDiv > div > .dealListDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selectedDiv > div > .dealListDiv > p {
    font-size: 16px;
    font-weight: 500;
    color: #111;
    margin-right: 12px;
}

.selectedDiv > div > .dealListDiv > input {
    width: 202px;
    height: 37px;
    border-radius: 8px;
    border: 1px solid #BBB;
    background-color: transparent;
    box-sizing: border-box;
    margin-right: 30px;
    padding: 10px;
}

.selectedDiv > div > .dealListDiv > img {
    margin-left: 70px;
    cursor: pointer;
}

.selectedDiv > div > .dealListDiv > h6 {
    margin-left: 9px;
    margin-right: 70px;
    font-size: 14px;
    font-weight: 500;
    color: #111;
}

.selectedDiv > div > .dealListDiv > h6 > span {
    color: #767676;
}

.selectedDiv > div > .dealListDiv > h3 {
    width: 155px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #9FA5AB;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.GNBDimmed {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 100;
    left: 0;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.4);
}