body {
    font-family: 'pretendard';
}


.flexSection {
    width: 95%;
    margin: auto;
    margin-top: 130px;
    display: flex;
    flex-direction: row;
}

.infoSection {
    margin-right: 50px;
    margin-bottom: 100px;
    width: 550px;
}

.infoSection>div {
    position: -webkit-sticky;
    position: sticky;
    height: auto;
    top: -190px;
}

.infoSection>div>h1 {
    word-spacing: -0.4rem;
    margin: 0;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
    color: #111;
}

.infoSection > div > h4 {
    font-size: 18px;
    font-weight: 500;
    color: #111;
    margin: 0;
    margin-bottom: 20px;
}

.infoSection>div>span {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;
}

.infoSection>div>span>img {
    height: 22px;
    margin: 0;
    margin-right: 18px;
}

.infoSection>div>span>h3 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    color: #111;
}

.infoSection>div>span * {
    margin: 0;
}

.infoSection>div>img {
    width: 100%;
}

.infoSelectedListDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0;
    margin-bottom: 30px;
}

.infoSelectedListDiv > p {
    margin: 0;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
    color: #111;
    display: flex;
    align-self: flex-end;
}

.infoSelectedListDiv > span {
    margin: 0;
    gap: 12px;
    width: 70%;
}

.infoSelectedListDiv > span > p {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #767676;
}

.infoSection>div>p {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #767676;
    margin-bottom: 16px;
}

.infoSection>div>.priceTitle {
    border-top: 1px solid #ededed;
    padding-top: 40px;
}

.infoSection>div>.priceTitle>p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #111;
}

.infoSection>div>.priceTitle>h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #0064FF;
    margin-left: auto;
}

.infoSection>div>div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoSection>div>div>span {
    display: flex;
    flex-direction: column;
}

.infoSection>div>div>span>span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.infoSection>div>div>span>span>img {
    cursor: pointer;
}

.infoSection>div>div>span>span>p {
    font-size: 14px;
    font-weight: 500;
}

.infoSection>div>div>span>span>p>span {
    color: #767676;
    font-weight: 500;
}

.infoSection>div>.nextBtn {
    height: 20px;
    background-color: #0064FF;
    margin: 0;
    margin-top: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.optionSection {
    position: relative;
    width: calc(100% - 580px);
    margin-top: 110px;
    margin-bottom: 100px;
    margin-left: auto;
    border-left: 1px solid #ededed;
}

.optionMarginDiv {
    width: 95%;
    height: 100%;
    margin-left: auto;
}

.colorDiv>span {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
}

.colorDiv>span>h3 {
    margin: 0;
}

.colorDiv>span>p {
    margin: 0;
    margin-left: 20px;
    font-size: 14px;
    color: #767676;
}

.colorDiv>span>span {
    min-width: 70px;
    height: 70px;
    margin-top: 40px;
    margin-right: 40px;
    cursor: pointer;
}

.colorBtn.selected {
    position: relative;
    border: 1px solid #0064FF;
    box-sizing: border-box;
    min-width: 70px;
    height: 70px;
    margin-top: 40px;
    margin-right: 40px;
    cursor: pointer;
}

.colorBtn.selected>img {
    position: absolute;
    top: -11px;
    right: -11px;
}

.optionDiv {
    margin-top: 100px;
}


.selectDiv {
    margin-top: 100px;
}

.selectDiv>h4 {
    margin-bottom: 0;
    margin-top: 40px;
}

.selectDiv>span {
    display: flex;
    flex-direction: row;
}

.selectDiv>span>p {
    width: 162px;
    height: 45px;
    border-radius: 12px;
    border: 1px solid #bbbbbb;
    font-size: 18px;
    color: #767676;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.selectDiv span>p.selected {
    border: 1px solid #0064FF;
    color: #0064FF;
    font-weight: bold;
}

.selectDiv>span>input {
    width: 237px;
    height: 45px;
    border-radius: 12px;
    border: 1px solid #bbbbbb;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    color: #767676;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectDiv>span>input::placeholder {
    padding-left: 10px;
}


.optionTrimDiv {
    width: 100%;
    max-width: 1040px;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.optionTrimDiv > span {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbdbdb;
    cursor: pointer;
}

.optionTrimDiv > span.selected {
    background-color: #111;
}

.optionTrimDiv > span.selected > p {
    color: white;
}

.optionTrimDiv > span > p {
    font-size: 20px;
    font-weight: bold;
    color: #767676;
}

.upDownIcon {
    position: absolute;
    right: 20px;
    margin-top: 5px;
}

.trimInfoDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1040px;
}

.trimInfoDiv > span {
    margin-top: 67px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    gap: 30px;
}

.trimInfoDiv > span > span {
    width: 90%;
    height: 60px;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.trimInfoDiv > span > span.selected {
    border: 1px solid #0064FF;
}

.trimInfoDiv > span > span > p {
    font-size: 18px;
    font-weight: 500;
    color: #767676;
}

.trimInfoDiv > span > span.selected > p {
    color: #0064FF;
    font-weight: bold;
}

.trimInfoDiv > span > span > img {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
}


.optionSelectDiv {
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 67px;
    gap: 30px;
}

.optionSelectDiv > div {
    flex: 1 1 calc(25% - 30px);
    margin: auto;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
}

.optionSelectDiv > div:hover {
    border: 1px solid #0064FF;
}

.optionSelectDiv > div > img {
    width: 100%;
}

.optionSelectDiv > div > p {
    width: 90%;
    margin: auto;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
    color: #767676;
}

.optionSelectDiv > div > h4 {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #111;
}