#chat-channel-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2000;
}

@media (min-width: 768px) { /* 웹 브라우저 (태블릿 이상의 크기) */
    #chat-channel-button img {
        width: 150px;
    }
}

.ad-content {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
    justify-content: center; /* 세로 가운데 정렬 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
    margin-right: 20px;
}

.ad-warning {
    font-size: 14px; /* 작은 글씨 크기 */
    color: darkgreen; /* 강조 색상 */
    font-weight: bold; /* 강조 */
    margin-bottom: 5px; /* 아래 여백 */
}

.ad-contact {
    font-size: 18px; /* 큰 글씨 크기 */
    font-weight: bold;
}

.phone-icon {
    margin-right: 5px; /* 아이콘과 번호 간격 */
}

.gnb-social-container {
    position: relative;
    min-width: 1280px;
    max-width: 1280px;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;    
    justify-content: flex-end;
    padding: 10px 20px 0;
    background-color: white;
}

.gnb-phone {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    color: #333;
}

.gnb-icons {
    display: flex;
    gap: 15px;
}

.gnb-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.gnb-icon:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

/* 팝업 스타일 */
.popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 90%;
    max-width: 400px;
    z-index: 3000;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
  }
  
  /* 버튼 컨테이너 스타일 */
  .popup-button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* 버튼 스타일 */
  .popup-button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .advertisement-img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer; /* 마우스 포인터 표시 */
  }

  /* 모바일 화면용 팝업 스타일 */
@media (max-width: 768px) {
    .popup {
      width: 80%; /* 모바일에서는 더 작은 너비 */
      top: 30%; /* 약간 아래로 조정 */
    }
  }
  